html{
    background-color: #36474f;
}

body {
  margin: 0;
}

.App{
margin: 0 auto;
}
.nav-bar{
  width: 100%;
  height: 60px;
  background-color: #161f24;
}
.main{
  background-color: #36474f;
  height: 100vh;
  width: 100vw;
  text-align: center;
}
.introText{
  width: 361px;
  height: 80px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.67;
  text-align: center;
  color: #7dcbc4;
  margin: 0 auto;
}
.bar_logo{
  margin:22px;
}
.snowman_logo{
  margin-top: 100px;
  height: 190px;
  width: 135px;
}
.add_logo{
  width: 55px;
  height: 55px;
  float: right;
  z-index: 3;
  right: 50px;
  bottom: 50px;
  position: fixed;
  cursor: pointer;
  }
/*view all page styling*/
.nav-bar-viewAll{
  width: 100%;
  height: 60px;
  background-color: #161f24;
}
.editButton{
  width: 109px;
  height: 40px;
  border-radius: 4px;
  background-color: #263238;
  float: right;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #b0bec5;
  line-height: 40px;
}
.viewAll{
  background-color: #36474f;
  width: 100%;
  height: 100%;
  text-align: center;
}
.flex-container {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 900px;

}
.flex-item {
  cursor: pointer;
  /*display: flex;*/
  width: 250px;
  height: 250px;
  border-radius: 4px;
  background-color: #f77f00;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
  margin: 10px;
  color: white;
  /*justify-content: flex-start;*/

}
.tileInfo{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;

}
.titleViewAll{
  text-align: center;
  margin: 0;
  top: 0;
  width: 100%;
  height:65%;
  justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding-top: 13px;

}
.iconViewAll{
margin: 0 auto;
height: 10px;
position: absolute;
width: 100%;
top: 60px;
}
img.viewAll_logo{
  height: 30px;
}
img.addOne_logo{
  height: 50px;
  margin-top: 60px;
  cursor: pointer;
}
.tempViewAll{
top: 100px;
width: 100%;
height: 20px;
position: absolute;
  font-family: Roboto;
  font-size: 40px;
}
.bar_tile{
  background-color: rgba(22, 31, 36, 0.1);
  width: 100%;
  height: 50px;
  margin: 0;
  font-family: Roboto;
  font-size: 15px;
  padding-top: 25px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
li#extraTile.flex-item{
  background-color: #36474f;
  border: dashed 1px #77909d;
  text-align: center;
  box-shadow: none;
}
div.extraTile{
  font-family: Roboto;
  font-size: 20px;
  letter-spacing: 2px;
  color: #5f7d8c;
  margin: 0 auto;
  width: 150px;
}
/*delete button on edit*/
li.flex-item:hover input {
    display: block;
}
li.flex-item input {
    position:absolute;
    display:none;
}
li.flex-item input.delete {
    top:-5%;
    left:92%;
    height: 35px;
    width: 35px;
}
/*show one page styling*/
.nav-bar-ShowPage{
  width: 100%;
  height: 40px;
  background-color: #F36420;
  color: white;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300px ;
  padding-top: 20px;
  position: relative;
}
.bar_logo{
  position: absolute;
  left: 0;
  top: 0;
}
.showPage{
  background-color: #F77E23;
  width: 100vw;
  height: 100vh;
}
.row1{
  display: flex;
  justify-content: center;
}
.row1col1{
  width: 200px;

   text-align: center;
   align-self: center;
}
.show_icon{
  height: 120px;
  width: 120px;
  margin: 20px;
  margin-right: 70px;
}
.row1col2{
   width: 200px;
   font-family: 'Roboto', sans-serif;
   color: white;
}
.row1col3{
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin: 10px;
 font-family: 'Roboto', sans-serif;
  }
.days{
width: 2px;
  height: 380px;
  opacity: 0.2;
  border: solid 1px #ffffff;
  border-collapse: collapse;
  width: 150px;
  height: 150px;
   color: white;
   text-align: center;
 }
 .days_icon{
  height: 50px;
 }
 p.days{
  color: white;
 }
 #day1, #day2, #day3{
  border-top: none;
 }
#day4, #day5, #day6 {
  border-bottom: none;
 }
#day1, #day2, #day4, #day5{
 border-top: none;
  border-right: none;
}
.row2{
background-color: #F6963F;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Roboto', sans-serif;
   color: white;
}
.hours{
  display: flex;
  align-items: center;
  width: 70px;
}
.hoursTitle{
  justify-content: center;
  display: flex;
  align-self: center;
  margin:0;
  width: 100%;
}
.row3{
  width: 1300px;
  height: 232px;
   background-color: #F77E23;
}

.dimmed {
  opacity: 0.5;
}

.search-div {
  top: 33vh;
  left: 36vw;
  position: fixed;
  font-family: 'Roboto', sans-serif;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);

}

.search-bar {
  border: none;
  border-bottom: 1px solid white;
  background-color: #19a69a;
  color: white;
  width: 340px;
  height: 20px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  background-image: url('./images/magnifying-glass.png');
  background-repeat: no-repeat;
  background-position: 0px;
  text-indent: 20px;
}

.search-form {
  padding: 15px ;
  background-color: #19a69a;

}

::-webkit-input-placeholder {
  color: white;
}

.search-results {
  margin: 0;
}

.search-result {
  background-color: white;
  border-top: 1px solid gray;
  padding: 10px 5px;
  width: 370px;
  font-size: 14px;
}

.search-result:hover {
  background-color: lightgray;
  cursor: pointer;
}

.wartortle {
  top: 33vh;
  left: 41vw;
  color: #7dcbc4;
  position: fixed;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
